@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
main{
  display: block;
}

:root {
 --deep-red:#d62828;
 --deep-blue:#003049;
 --deep-orange:#f77f00;
 --light-orange:#fcbf49;
 --light-orange-2: #e9e2b7;
}
body{
  background-color: #000;
}
/**======================
Buttons
======================**/
header{
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  animation: 300ms ease-in-out 0s 1 normal none running fNaJou;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px;
  
}

.navigation{
  display: flex;
  flex-direction: row;
  /* background-color: #e9e2b7; */
  justify-content: space-between;
  /* padding: 0px 10px 0 10px;  */
}

.logo img {
  padding-top: 1rem;
 width: 80%;
 height: 100px;
}
.topNav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}

.topNav button {
  padding: 5px;
  border: 1px transparent;
  border-radius: 50px;
  width: 80px;
}
button.ctaBgRed {
  background-color: #d62828;
  color: #fff;
}
button.ctaBgWhite{
  background-color: #fff;
  color: #000;
}


