@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
main{
  display: block;
}

:root {
 --deep-red:#d62828;
 --deep-blue:#003049;
 --deep-orange:#f77f00;
 --light-orange:#fcbf49;
 --light-orange-2: #e9e2b7;
 --light-orange-2: rgb(250, 246, 209);
}
body{
  background-color: #000;
}
a{
  /* font-size: 24px; */
  font-size: 18px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  /* line-height: 40px; */
  letter-spacing: -0.04ch;
  text-transform: none;
  /* color: rgb(73, 73, 73); */
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}
h1{
  font-size: 38px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #000;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}

/* For How it works headings and some other headding*/
h2{
  /* font-size: 24px; */
  font-size: 32px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
    color: rgb(25, 25, 25);
    margin: 0px;
    padding-bottom: 10px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}
h3{
  /* font-size: 24px; */
  font-size: 18px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.04ch;
  text-transform: none;
    color: rgb(25, 25, 25);
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}

/**======================
Buttons
======================**/
header{
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  animation: 300ms ease-in-out 0s 1 normal none running fNaJou;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px;
  border-bottom: 1px solid #f0f0f0;
  
}

.navigation{
  display: flex;
  flex-direction: row;
  /* background-color: #e9e2b7; */
  justify-content: space-between;
  /* padding: 0px 10px 0 10px;  */
}

.logo img {
  padding-top: 1rem;
 width: 80%;
 height: 100px;
}
.topNav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}

button {
  padding: 5px;
  border: 1px transparent;
  border-radius: 50px;
  width: 80px;
  background-color: #d62828;
  color: #fff;
}
button:hover{
  background: #c30404;
}
button.longBtn{
  width: 150px;
}

/* 
button.ctaBgRed,
button.longBtn {
  background-color: #d62828;
  color: #fff;
} */
/* button.ctaBgRed:hover,
button.longBtn:hover{
  background: #c30404;
} */
button.ctaBgWhite{
  background-color: #fff;
  color: #000;
}
/* button.ctaBgWhite:hover{
  background-color:#d62828;
  color:#fff;
} */

@media (min-width: 768px) {

  h1{
    font-size: 48px;
  }
}


