@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
main{
  display: block;
}

:root {
 --deep-red:#d62828;
 --deep-blue:#003049;
 --deep-orange:#f77f00;
 --light-orange:#fcbf49;
 --light-orange-2: #e9e2b7;
 --light-orange-2: rgb(250, 246, 209);
}
body{
  background-color: #000;
}
main{
  background-color: #fff;
  
}
footer{
  background-color: var(--deep-blue);
  color: #fff;
}
a{
  /* font-size: 24px; */
  font-size: 18px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  /* line-height: 40px; */
  letter-spacing: -0.04ch;
  text-transform: none;
  /* color: rgb(73, 73, 73); */
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
    cursor: pointer;
}
h1{
  font-size: 38px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #000;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}

/* For How it works headings and some other headding*/
h2{
  font-size: 24px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
    color: rgb(25, 25, 25);
    margin: 0px;
    padding-bottom: 10px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}
h3{
  /* font-size: 24px; */
  font-size: 18px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.04ch;
  text-transform: none;
    color: rgb(25, 25, 25);
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
}

/**======================
Buttons
======================**/
header{
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  animation: 300ms ease-in-out 0s 1 normal none running fNaJou;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px;
  border-bottom: 1px solid #f0f0f0;
  
}

.navigation{
  max-height: 100px;
  display: flex;
  flex-direction: row;
  /* background-color: #e9e2b7; */
  justify-content: space-between;
  /* padding: 0px 10px 0 10px;  */
}

.topNav {
 
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}

button {
  padding: 5px;
  border: 1px transparent;
  border-radius: 50px;
  width: 80px;
  background-color: #d62828;
  color: #fff;
  font-size: 18px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
}
button:hover{
  background: #c30404;
}
button.longBtn,
button.arrowBtn{
  width: 150px;
}


button.arrowBtn{
  display: flex;
  padding: 0;
  padding-top: 15px;
  background-color:#fff;
  color: #d62828;
  position: relative;
  font-size: 18px;
  font-family: 'Raleway', 'Montserrat' sans-serif;
  font-weight: 700;
  align-items: left;
  text-align: left;
  justify-content: left;
  
}
.button.arrowBtn span {
  left: 10px; 
}
button.ctaBgWhite{
  background-color: #fff;
  color: #000;
}
.border-bottom:hover{
 border-bottom: 2px solid white;
}
.border-custom-color{
  border-color: var(--deep-blue);
}

/**Input field */
input{
  border-width: 1px;
  border-color: #000;
  margin-top: -12px;

}
/*Slider*/
.slick-slide > div{
  margin: 0 10px;
}

.slick-prev:hover,
.slick-next:hover{
      color:  var(--deep-red);
      outline: none;
      background: var(--deep-red);
  }

  .slick-next,
  .slick-prev
  {
    color:  var(--deep-red) !important;
    border: none;
    outline: none;
    background: var(--deep-red) !important;
  }
  

.exclusive{

  position: relative;
  height: 400px;
  background: url(/Assets/Images/burgerbg.jpg) center/cover;
  filter: brightness(80%) contrast(150%); /* Adjust filter properties as needed */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

/*How it works*/
.imageContainer {
  position: relative;
}

.redCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  z-index: -1;
}

.animatedImage {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Form Icons placement*/



.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  text-align: end;
  padding: 10px;
  min-width: 40px;
  color: black;
  font-size: 32px;
  position: absolute;
  top: -4px;
  right: 10px; 
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {

  h1{
    font-size: 48px;
  }
  h2{
    font-size: 32px;
  }
  button.arrowBtn{
    align-items: left;
    text-align: center;
    justify-content: left;
   width: 180px;
  }
}



@media (min-width: 1024px){ 
  button.arrowBtn{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  }


