.heroSection{
  justify-content: center;
  align-items: center;
background-color: blueviolet;
position: relative;
z-index: 1;
}
.heroImg{
background-image: url("/Assets/Images/mobile\ herobg2.svg");
background-size: cover;
  text-align: center;
  height: 600px;
  width: 100%;
  padding: 0px 20px;
}


.heroTopNav {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem
}
.heroTopLogo{
  padding-left: 550px;
}

.heroTopLogo img{
  width: 100%;
  height: auto;
}

.heroTopBtn {
  display: flex;
  flex-direction: row;
  gap: 2rem;

}

.heroTopBtn button{
  padding: 10px;
  border: 1px transparent;
  border-radius: 50px;
  width: 80px;
}
button.ctaBgRed {
  background-color: #d62828;
  color: #fff;
}
button.ctaBg2{
  background-color: #fff;
  color: #000;
}

.heroLogo img{
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  position: absolute;
  top: 10rem;
  left: 2rem;
}


.heroText {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroText h1{
  font-family: Raleway;
  font-size: 24px;
  font-weight: 800;
  top: 180px;
  position: relative;
  z-index: 2;
}

/* .heroText button{
  position: relative;
  z-index: 2;
  top: 170px;
} */

@media (min-width: 768px) {
  .heroImg {
    background-image: url("/Assets/Images/TAM\ herobg\ \(3\).png");
   height: 650px;

  }
  .heroTopNav {
    
    justify-content: space-between;
  
  }
  .heroText h1{
  
    font-size: 38px;
    top: 150px;
   
  }
}