.heroSection {
  justify-content: center;
  align-items: center;
  background-color: #f77f00;
  position: relative;
  z-index: 1;
}
.heroImg {
  background-image: url('/Assets/Images/mobileherobg.png');
  background-size: cover;
  text-align: center;
  height: 600px;
  width: 100%;
  padding: 0px 20px;
}

.heroTopNav {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.heroTopLogo {
  padding-left: 550px;
}

.heroTopLogo img {
  width: 100%;
  height: auto;
}

.heroTopBtn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.heroTopBtn button {
  padding: 2px;
  border: 1px transparent;
  border-radius: 50px;
  width: 80px;
}
button.ctaBgRed {
  background-color: #d62828;
  color: #fff;
}
button.ctaBg2 {
  background-color: #fff;
  color: #000;
}

.heroLogo img {
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  position: absolute;
  top: 10rem;
  left: 2rem;
}

.heroText {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 7rem;
}

.heroText h1 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .heroImg {
    background-image: url('/Assets/Images/TAM\ herobg\ \(3\).png');
    height: 650px;
  }
  .heroTopLogo {
    padding-left: 150px;
  }
  .heroTopNav {
    justify-content: space-between;
  }
  .heroText {
    top: 8rem;
  }
  .heroText h1 {
    font-size: 38px;
  }
  .heroTopBtn {
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .heroText {
    top: 7rem;
  }
}
