.villageSection {
  /* height: 450px; */
  max-width: 100%;
  overflow-y: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;
}

.villageImg {
  position: relative;
  text-align: center;
}

.exploreContainer {
  background-color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: white;
  text-align: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 10rem;
  padding: 5rem 2rem 0 2rem;
}

.textContainer h1,
.textContainer h2,
.textContainer h3 {
  margin: 0;
}

@media (min-width: 768px) {
  .textContainer {
    padding: 3rem 2rem 0 2rem;
  }
}

@media (min-width: 1024px) {
  .textContainer {
    padding: 7rem 2rem 0 2rem;
  }
}
